html {
 width: 100%;
}

table{width: 100%;
    border-spacing: 0px; }
th {
border-top: 1px solid;
border-bottom: 1px solid;
}
#header1 {
  border-left: 1px solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  }

#header4 {
  border-right: 1px solid;
border-bottom-right-radius: 15px;
border-top-right-radius: 15px;
}



tr.indexhead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #FFFFC0;
}

img.soundfile, img.backselector #searchicon {

    width: 2rem;

}

img.dirselector {
 height: 32px; width: 32px;
}

#audio0 {

    width: 70%;
    position: fixed;
    top: 90%;
    left: 20%

}

#root {
    height: auto;
    min-height: 800px;
    top: -10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover  .dropdown-content {
  display: block;
}

#sr {
    display: none;
}

.bigrow {
 height: 30px;
  font-style: italic;
  font-size: large; 
  font-weight: bold;
}
