html {
 width: 100%;
}

table{width: 100%;
    border-spacing: 0px; }
th {
border-top: 1px solid;
border-bottom: 1px solid;
}
#header1,.metaContent {
  border-left: 1px solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  }

#header4,.metaContent {
  border-right: 1px solid;
border-bottom-right-radius: 15px;
border-top-right-radius: 15px;
}



tr.indexhead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #FFFFC0;
}

img.soundfile, img.backselector #searchicon {

    width: 2rem;

}

img.dirselector {
 height: 32px; width: 32px;
}

td.playicon {
  width: 40px;
}


#audio0 {

    width: 70%;
    position: fixed;
    top: 90%;
    left: 20%

}

#root {
    height: auto;
    min-height: 800px;
    top: -10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover  .dropdown-content {
  display: block;
}

#sr {
    display: none;
}

.bigrow {
 height: 30px;
/*  font-style: italic;
  font-size: large; */ 
  font-weight: bold;
}


.hoverMeta{
  position:relative;
}

.metaContent{
  display:none;
  position:absolute; 
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:red;
  padding:3px;
  color:700070; 
  top:0px; 
  font-size: larger;
  left: 10%;
}

.hoverMeta:focus span.metaContent{
    display:block;
}

.popupsep {
  margin-top:1px;
  margin-bottom:1px;
}

.applaiznew{
    background-color:lightgreen;
    border-radius: 15px;
    border: 2px solid black;
    font-family:sans-serif;
    font-size:larger
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}


.topspan {
  border-radius: 15px;
  background-color: #ffff00;
  border: 2px solid black;
  font-family:sans-serif;
  font-size:larger;
  z-index: 2;
  display: inline-block;
  position: relative;
  width: 25%;
  text-align: center;
}

#litop{
  position: -webkit-sticky;
  position:sticky;
  top: 0;
}
