<table id="indexlist">
   <tbody><tr class="indexhead"><th class="indexcolicon"><img src="/icons/blank.gif" alt="[ICO]"></th><th class="indexcolname" id="dirname">jazz</th><th></th></tr>
   <tr class="indexbreakrow"><th colspan="2"><hr></th></tr>
   <tr ><td class="indexcolicon"><img src="/icons/back.gif" alt="[PARENTDIR]"></td><td class="indexcolname" id="parent"><a href="<%obj.parent%>">Parent Directory</a></td></tr>

<% for (let i = 0; i < obj.directories.length; i++) {%>

<tr ><td class="indexcolicon"><img src="/icons/folder.gif" alt="[DIR]"></td><td id=dirname<%i%> path=<%i> class="indexcolname"><%directories[i]%></td></tr>

<%}%>


   <tr class="odd" id="1002"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="2"></td><td class="indexcolname">Dizzy Gillespie, Sarah Vaughn, Charlie Parker T02 - Blue 'n' Boogie</td><td></td></tr>
   <tr class="even" id="1003"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="3"></td><td class="indexcolname">Ella Fitzgerald - Cry Me A River</td><td></td></tr>
   <tr class="odd" id="1004"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="4"></td><td class="indexcolname">Ella Fitzgerald and Louis A</td><td></td></tr>
   <tr class="even"><td class="indexcolicon"><img src="/icons/image2.gif" alt="[IMG]"></td><td class="indexcolname"><a href="Folder.jpg">Folder.jpg</a></td></tr>
   <tr class="odd" id="1005"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="5"></td><td class="indexcolname">Jazz Instrumental- Oscar Peterson - Laura (piano)</td><td></td></tr>
   <tr class="even" id="1006"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="6"></td><td class="indexcolname">Jazz Latin Instrumental- Spanish Rumba (1)</td><td></td></tr>
   <tr class="odd" id="1007"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="7"></td><td class="indexcolname">Louis Armstrong &amp; Ella Fitzgerald - Dream A Little Dream Of M</td><td></td></tr>
   <tr class="even" id="1008"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="8"></td><td class="indexcolname">Louis Armstrong &amp; Oscar Peterson - Just One Of Those Things</td><td></td></tr>
   <tr class="odd" id="1009"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="9"></td><td class="indexcolname">Louis Armstrong - What a Wonderful World</td><td></td></tr>
   <tr class="even" id="1010"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="10"></td><td class="indexcolname">Oscar Peterson &amp; Manhattan Transfer - Route 66</td><td></td></tr>
   <tr class="odd" id="1011"><td class="indexcolicon"><img src="/icons/sound2.gif" alt="[SND]" play="11"></td><td class="indexcolname">Oscar Peterson - West Side Story  - 03 - Tonight</td><td></td></tr>
   <tr class="indexbreakrow"><th colspan="2"><hr></th></tr>
</tbody></table>