<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideologue Applaiz</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

<script src="/node_modules/ejs/ejs.min.js" ></script>
<script src="template.js" type="text/javascript"> </script>
<script src="client.js" type="text/javascript"> </script>
<script>
  //Globals
  
  let audioElement;
  let globj;  
  let playlist = [];
  let playlists = {};
  let searchresults = [];
  let  sr_cyc =  sr_cyclic(searchresults);
  let dirobj_cache = {};
  
  // Create a media player app; render a folder of audio
  // files using a JSON representation of a filesystem
  // fetched from the server.

  window.onload = (event) => {
      audioElement = document.createElement('audio');
      audioElement.id = "audio0";
      audioElement.controls=true;
      audioElement.playsinline=true;
      audioElement.type = "audio/mpeg";
      audioElement.preload = "none";
      audioElement.audioid="0";
      audioElement.addEventListener("ended", (event) => {
	  let originaldirname = event.target.dirname;
	  let el = document.getElementById(event.target.nextid + 1000);
	  playAndReset(playlist[event.target.nextid],originaldirname);
	  Highlight(el, originaldirname);
      });
      audioElement.addEventListener("play",(event) => {
	  setMediaMeta(event.target);
      } );

      // ejs
      const  startparams = "<%= obj.patth %>";
      let params = {d: startparams};

      fetchObj(params,"/dirobj").then(anobj =>{ renderTable(anobj);
				      dirobj_cache["."] = anobj
				    });
    //      for(x of ["abort","canplay","canplaythrough","ended","emptied","error","loadeddata","loadedmetadata","loadstart","pause","play","playing","progress","ratechange","seeked","seeking","stalled","suspend","timeupdate","volumechange","waiting"])audioElement.addEventListener(x,(e) => console.log("audioElement event type: ", e.type));
      document.addEventListener("touchstart", function() {}, true);
    }
</script>

<script>
  //disable back button
history.pushState(null, document.title, location.href);
window.addEventListener('popstate', function (event)
{
  history.pushState(null, document.title, location.href);
});
</script>


</head>
<body>

    <div id="root"></div>
    <div id="ae"></div>

</body>

</html>
